div{
    padding: 20px;
}
ul{
    list-style: none;
}
ul li{   /*ul 인지 ul li인지 ul li a인지 헷갈릴텐데 이건 많이 해보면 된다고 한다*/
    display: inline;
    margin-right: 15px;
    border-top: 3px solid #222;
    padding: 10px 20px;                        
}
ul li a{
    text-decoration: none;
    color: black;        
}
ul li:hover{ /*마우스를 올려놓으면 작동하게하는 옵션*/
    background-color: crimson;
}
ul li a:hover{  /*링크가 걸린 태그에 마우스를 대면 바뀌는 색상설정 */
    color: red;            
}