/* 구글 웹 폰트 적용 , 가장 위에 해야 적용됨*/
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Song+Myung&family=ZCOOL+KuaiLe&display=swap');

*{
    margin: 0;
    padding: 0;
}
#container{
    width: 1100px;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 100px;
    background-color:#004455;
}
#logo{/* dream jeju 옵션 */
    width: 250px;
    height: 100px;
    float: left;    
    line-height: 90px;
}
#logo a{
    color: white;
    text-decoration: none;
}
#logo h1{ /* Dream Jeju */
    font-family: 'ZCOOL KuaiLe', cursive; /* 구글폰트에서 CSS rule을 복사한다 */
    color: white;
    padding-left: 30px;
}
nav{
    width: 700px;
    height: 100px;
    float: right;    
    text-align: center   
    
}
#topMenu{
    list-style: none;
}

#topMenu li{
    display: inline;
    line-height: 130px;    
}
#topMenu li a{
    text-decoration: none;
    color:white;
    padding: 0 30px;
}
/* 본문영역 */
.contents{
    width: 1000px;
    margin: 50px auto;
     
}
main section{
    margin-top: 50px;
    height: 250px; /*스케쥴 날라갔을때 높이 잡아줘야 안겹침!!  */
}
main section h2{
    font-family: 'Song Myung', serif;   
}


main div{
    margin-top: 20px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.1em;
    
}

.detail img{
    float: left;
    margin-right: 30px;
    border-radius: 20px;
}
.detail p{
    line-height: 2;
}
.schedule ul{
    list-style: none;
    
}
.schedule ul li{
    list-style: 2;
}
.schedule h3{
    line-height: 2;
}


/* footer 영역 */
footer{
    height: 100px;
    border-top: 2px solid #222;
}
#bottomMenu ul{
    list-style: none;
    margin-top : 20px ;
    margin-left: 60px;
            
}
#bottomMenu li{
    display: inline;
    padding: 5px 20px;
    border-right: 1px solid #ddd;
}

#bottomMenu ul li:nth-last-child(1){
    border: none;
}
#bottomMenu li a{
    color: black;
    text-decoration: none;
}